doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/thirdparty/bootstrap/bootstrap.css')
        link(rel='icon', href='/images/icon_16.png', type='image/png', sizes='16x16')
        link(rel='icon', href='/images/icon_32.png', type='image/png', sizes='32x32')
        link(rel='icon', href='/images/icon_64.png', type='image/png', sizes='64x64')
        link(rel='icon', href='/images/icon_128.png', type='image/png', sizes='128x128')

        script(type='text/javascript', src='/javascripts/thirdparty/jquery/jquery-1.7.min.js')
        script(type='text/javascript', src='/javascripts/thirdparty/jquery/jquery.jeditable.mini.js')
        script(type='text/javascript', src='/javascripts/matisse/inline-edit.js')
        script(type='text/javascript', src='/javascripts/thirdparty/bootstrap/bootstrap.js')
        script.
            var resizeOrReadyHandler = function () {
                var rtContentObj = $('#loginRightContent');
                var height = $(window).height() - $('#loginHeader').height() - $('#loginFooter').height() - 40;
                rtContentObj.css('min-height', height);
                rtContentObj.show();
            };
            $(window).resize(resizeOrReadyHandler);
            $(document).ready(function () {
                setTimeout(resizeOrReadyHandler, 100);
            });
    body(style="background-color:#d88f40 !important")
      #wrapper(class='container mainDrawing')
        #inner
          #button(onclick='go2Random()') NEW DRAW
          #label(data-l10n-id='index.createOpenPad')
            | or create/open a Spread Sheet with the name:
          form(name='whiteboard', id='whiteboard', method='post', action='/boards/')
            input#name(name='whiteboardName', type='text', placeholder="Name")
            button(type='submit') OK
      //- div(class='container mainDrawing')
      //-   div(class='col-lg-12 ')
      //-     div.col-lg-12(style="text-align: center;margin-top: 20px;padding-bottom:31px;")
      //-       <!-- comments -->
      //-       form(name='whiteboard', id='whiteboard', class='form-horizontal', method='post', action='/boards/')
      //-         .col-lg-12
      //-           button.btn.btn-large.btn-success(type='submit', style="margin-bottom:5px;width: 300px;height: 50px;border-radius:0") NEW DRAWING
      //-         .col-lg-12
      //-           span or Create/Open a Drawing with the name
      //-         .col-lg-12
      //-           .input-group
      //-             input.form-control(name='whiteboardName', type='text', id="name", placeholder="Name")
      //-             span.input-group-btn
      //-               button.btn.btn-default(type='submit', style="padding:12px;border-radius:0", id="createWhiteboard") OK
script(type='text/javascript', src='/javascripts/thirdparty/bootstrap/bootstrap-carousel.js')
script(type='text/javascript', src='/javascripts/thirdparty/bootstrap/bootstrap-modal-dialog.js')
script(type='text/javascript', src='/javascripts/matisse/showAll.js')
