doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
        script(type='text/javascript', src='/javascripts/thirdparty/jquery/jquery-1.7.min.js')
        script(type='text/javascript', src='/javascripts/thirdparty/jquery/jquery.jeditable.mini.js')
        script(type='text/javascript', src='/javascripts/mdraw/inline-edit.js')
        //script(type='text/javascript', src='/javascripts/thirdparty/bootstrap/bootstrap.js')
        script.
            var resizeOrReadyHandler = function () {
                var rtContentObj = $('#loginRightContent');
                var height = $(window).height() - $('#loginHeader').height() - $('#loginFooter').height() - 40;
                rtContentObj.css('min-height', height);
                rtContentObj.show();
            };
            $(window).resize(resizeOrReadyHandler);
            $(document).ready(function () {
                setTimeout(resizeOrReadyHandler, 100);
            });
    body
        .container
            .row
                .col-xs-12.full-height
                    #whiteboard-form-wrapper
                        .h1#page-header.
                            NEW DRAWING
                        form(name='whiteboard', id='whiteboard', class='form-horizontal', method='post', action='/boards/')
                                fieldset
                                    div(class='control-group', id="whiteboardName")
                                        //label(class='control-label', for='whiteboardName') New Drawing:
                                        div(class='controls')
                                            input(required name='whiteboardName', id="name", type="text", placeholder="Name")
                                            input(value="Create" type="submit" id='createWhiteboard' )


                                    div(class='control-group', id="containerlist", style='display:none')
                                        label(class='control-label', for='containerListInput') Container type:
                                        div(class='controls')
                                            select(name='container', id="containers")
                                                option(value="desktop-1024x768", id="desktop-1024x768") Desktop-1024x768
                                                option(value="desktop-1280x1024", id="desktop-1280x1024") Desktop-1280x1024
                                                option(value="iphone", id="iPhone") iPhone
                                                option(value="ipad", id="iPad") iPad
                                                option(value="blackberry", id="BlackBerry") BlackBerry
                                                option(value="browser", id="Browser") Browser
                                    div(class='control-group', id="layoutList", style='display:none')
                                        label(class='control-label', for='layoutListInput') Template:
                                        div(class='controls')
                                            select(name='layout', id="layouts")
                                                optgroup(label="content")
                                                    option(value="blank", id="blank") Blank
                                                    option(value="column_header", id="column_header") Column_header
                                                    option(value="column_header_footer", id="column_header_footer") Column_Header_Footer
                                                    option(value="two_column_header", id="two_column_header") Two_Column_Header
                                                    option(value="two_column_header_footer", id="two_column_header_footer") Two_Column_Header_Footer
                                                    option(value="three_column_header", id="three_column_header") Three_Column_Header
                                                    option(value="three_column_header_footer", id="three_column_header_footer") Three_Column_Header_Footer
                                    div(class='control-group', id="canvaswidth", style='display:none')
                                        label(class='control-label', for='canvasWidth') Canvas Width:
                                        div(class='controls')
                                            input(name='canvasWidth', id="canvasWidth", type="text", value="1024")
                                    div(class='control-group', id="canvasheight", style='display:none')
                                        label(class='control-label', for='canvasWidth') Canvas Height:
                                        div(class='controls')
                                            input(name='canvasHeight', id="canvasHeight", type="text", value="768")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
script(type='text/javascript', src='/javascripts/mdraw/showAll.js')
